{% extends 'base.html.twig' %}

{% block title %}Disque{% endblock %}

{% block body %}
<div class= "container fluid">
<div class="container mt-4">
<div class="jumbotron text-center">
    <h1>Disque</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ disque.id }}</td>
            </tr>
            <br>
            <tr>
                <th>Titre</th>
                <td>{{ disque.titre }}</td>
            </tr>
            <br>
            <tr>
                <th>Annee</th>
                <td>{{ disque.Annee }}</td>
            </tr>
            <br>
            <tr>
                <th>Picture</th>
                <td>{{ disque.picture }}</td>
            </tr>
            <br>
            <tr>
                <th>Label</th>
                <td>{{ disque.label }}</td>
            </tr>
        </tbody>
    </table>

     <button class="btn "><a href="{{ path('app_disque_index') }}">Retour à la liste</a></button>
    <br>

    <a href="{{ path('app_disque_edit', {'id': disque.id}) }}">Modifier</a>
    <br>


    {{ include('disque/_delete_form.html.twig') }}

    </div></div></div>
{% endblock %}
